name: CI Docker Healthcheck

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  versioning:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    outputs:
      version: ${{steps.semver.outputs.version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Bump version automatically
        id: semver
        run: |
          # Si no existe VERSION inicializarlo
          if [ ! -f VERSION ]; then echo "0.1.0" > VERSION; fi

          old=$(cat VERSION)

          IFS='.' read -ra ver <<< "$old"
          major=${ver[0]}
          minor=${ver[1]}
          patch=${ver[2]}
  
          # Aumentar patch version

          patch=$((patch + 1))

          new="$major.$minor.$patch"

          echo "$new" > VERSION
          echo "version=$new" >> $GITHUB_OUTPUT

      - name: Commit new version file
        run: |
          git config --local user.email "ci@github.com"
          git config --local user.name "GitHub Actions"
          git add VERSION
          git commit -m "Auto-increment version to ${{steps.semver.outputs.version }}"
          git push

  build-test:
    runs-on: ubuntu-latest
    needs: [versioning]
    outputs:
      imagename: ${{ steps.setimg.outputs.imagename }}

    steps:
     - name: Checkout repo
       uses: actions/checkout@v4

     - name: Debug branch
       run: |
         echo "FULL REF = $GITHUB_REF"
         echo "SHORT REF = ${GITHUB_REF##*/}"  

     - name: Set image tag according to branch
       id: setimg
       run: |
         if [ "${GITHUB_REF##*/}" = "main" ]; then
           echo "imagename=${{ secrets.DOCKERHUB_USERNAME }}/healthcheck-devops:${{ needs.versioning.outputs.version }}" >> $GITHUB_OUTPUT
         else
           echo "imagename=${{ secrets.DOCKERHUB_USERNAME }}/healthcheck-devops:dev-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
         fi

     - name: Login to Docker Hub
       run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

     - name: Build Docker image
       run: |
         docker build \
           -t ${{ steps.setimg.outputs.imagename }} \
           .

     - name: Run healthcheck inside container
       run: |
         docker run --rm \
           ${{ steps.setimg.outputs.imagename }} \
           --docker  

  push-image:
    runs-on: ubuntu-latest
    needs: [build-test]
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Push versioned image
        run: docker push ${{ needs.build-test.outputs.imagename }}
